integration-tests/client/src/main/resources/wsdl/BasicAuthCalculatorService.wsdl

<?xml version="1.0" ?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.jboss.org/eap/quickstarts/wscalculator/BasicAuthCalculator" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="BasicAuthCalculatorService" targetNamespace="http://www.jboss.org/eap/quickstarts/wscalculator/BasicAuthCalculator">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.jboss.org/eap/quickstarts/wscalculator/BasicAuthCalculator" elementFormDefault="unqualified" targetNamespace="http://www.jboss.org/eap/quickstarts/wscalculator/BasicAuthCalculator" version="1.0">

  <xs:element name="securedAdd" type="tns:securedAdd"></xs:element>

  <xs:element name="securedAddResponse" type="tns:securedAddResponse"></xs:element>

  <xs:complexType name="securedAdd">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"></xs:element>
      <xs:element name="arg1" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="securedAddResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"></xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="securedAddResponse">
    <wsdl:part element="tns:securedAddResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="securedAdd">
    <wsdl:part element="tns:securedAdd" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BasicAuthCalculatorService">
    <wsdl:operation name="securedAdd">
      <wsdl:input message="tns:securedAdd" name="securedAdd">
    </wsdl:input>
      <wsdl:output message="tns:securedAddResponse" name="securedAddResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicAuthCalculatorServiceSoapBinding" type="tns:BasicAuthCalculatorService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="securedAdd">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="securedAdd">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="securedAddResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BasicAuthCalculatorService">
    <wsdl:port binding="tns:BasicAuthCalculatorServiceSoapBinding" name="BasicAuthCalculator">
      <soap:address location="http://192.168.122.1:8080/calculator-ws/BasicAuthCalculatorService"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>